@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
    disable-history: false;
    font: "Hack Nerd Font Regular 13";
    show-icons: true;
    icon-theme: "Papirus";
    auto-select: true;
    drun-display-format: "{name}";
}
